/* ------font add here-------- */
@font-face{
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Raleway-semiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
}
/* ------font add here-------- */

/* -------color start-------- */
:root{
    --primary: #EEBF00;
    --secondary: #232b38;
    --ternary: #6C6C6C;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
}
/* -------color start-------- */

/* ----header style start----- */
.contanier{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* -----contaner responsive----- */
@media (min-width:576px) {
    .contanier{
        max-width: 540px;
    }
}
@media (min-width:760px) {
    .contanier{
        max-width: 720px;
    }
}
@media (min-width:992px) {
    .contanier{
        max-width: 960px;
    }
}
@media (min-width:1200px) {
    .contanier{
        max-width: 1152px;
    }
}
/* -----contaner responsive----- */
/* ----header style end----- */