/* ------font add here-------- */
@font-face{
    font-family: "Raleway-regular";
    src: url(../fonts/Raleway-Regular.ttf);
}
@font-face{
    font-family: "Raleway-Medium";
    src: url(../fonts/Raleway-Medium.ttf);
}
@font-face{
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
}
@font-face{
    font-family: "Raleway-semiBold";
    src: url(../fonts/Raleway-SemiBold.ttf);
}
@font-face{
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
}
/* ------font add here-------- */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    -webkit-font-smoothing:antialiased;
    
}

/* -------color start-------- */
:root{
    --primary: #EEBF00;
    --secondary: #232b38;
    --ternary: #6C6C6C;
    --danger: #fe4545;
    --pure: #fefefe;
    --light: #f0f0f0;
    --heaven: #ffffff;
    --footer: #2d333f;
    --hover: #9e9c9c7e;
    --body:#f1f1f1;
}
/* -------color start-------- */

/* ----header style start----- */
.contanier{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
/* -----contaner responsive----- */
@media (min-width:576px) {
    .contanier{
        max-width: 540px;
    }
}
@media (min-width:760px) {
    .contanier{
        max-width: 720px;
    }
}
@media (min-width:992px) {
    .contanier{
        max-width: 900px;
    }
}
@media (min-width:1200px) {
    .contanier{
        max-width: 1152px;
    }
}
/* -----contaner responsive----- */
.topbar--style{
    background: var(--secondary);
    color: var(--pure);
    font-family: 'Raleway-SemiBold';
    padding: 0.75rem 0;
}
.contanier-author > div a{
    color: var(--pure);
    text-decoration: none;
}
.contanier--style{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contanier-icons__social{
    margin-right: 10px;
}
.contanier-author{
    display: flex;
    justify-content: space-between;
}
.contanier-author__img{
    margin-right: 0px;
}
.contanier-author__divider{
    margin: 0 15px;
}
.contanier--call img{
    margin-right: 10px;
}
.contanier--time img{
    margin-right: 10px;
}
.contanier--call> div h5{
    font-family: 'Raleway-Black';
    margin-bottom: 0.25rem;
    font-size: 14px;
}
.contanier--call> div p{
    font-family: 'Raleway-Medium';
    font-size: 13px;
    letter-spacing: 1px;
}
.contanier--time> div h5{
    font-family: 'Raleway-Black';
    margin-bottom: 0.25rem;
    font-size: 14px;
}
.contanier--time> div p{
    font-family: 'Raleway-Medium';
    font-size: 13px;
}
.top--style{
    padding: 1.5rem 0;
}
/* ------top nav bar end----- */

/* -------menu bar start-------- */
.nav__menu{   
    justify-content: center;
}
.nav__menu a{   
    text-decoration: none;
    color: var(--secondary);
    font-size: 1rem;
    font-family: 'Raleway-SemiBold';
    padding: .5rem .8rem;
    transition: all .3s ease;
    border-radius: 3px;
}
.nav__menu .active{
    background: var(--primary); 
    color: var(--heaven);
}
.nav__menu a:hover{   
    background: var(--primary); 
    color: var(--heaven);
}
.nav__menu a:active{   
  background: var(--primary); 
  color: var(--heaven);
}
.magic-shado{
    position: relative;
    background: var(--pure);
    border: 0;
}
.magic-shado::after{
    content: '';
    display: block;
    width: 100%;
    height: 65px;
    position: absolute;
    background-image: url(../icons/shadow.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -22px;
    z-index: -1;
    margin-bottom: 5px;
}
/* -------menu bar end-------- */
.clear{
    content: '';
    display: table;
    clear: both;
}
/* -------hero-------- */
.hreo{
    
    background-image: url(../images/hero4.png);
    background-position: 0% 0%;
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
    padding-top: 10px;
    font-family: 'Raleway-Bold';
    margin-top: 10px;
    
}
.hero-left__text{
    display: flex;
    align-items: center;
}
.hero-left__text img{
    width: 90px;
    margin-left: 10px;
}
.hero-left__text h4{
    font-size: 14px;
}
.hero-left h1{
    font-weight: 800;
}
.hero-left p{
    font-size: 11px;
}
.hero-left h1 span{
    color: var(--primary);
}
.hero-left .hero-left__btn a{
    text-decoration: none;
    font-size: 13px;
    padding: 10px 15px;
    color: var(--pure);
    border-radius: 5px;
    transition: all .3s ease;
    margin-right: 10px;
}
.hero-left .hero-left__btn {
    margin-top: 25px;

}

.hero-left .hero-left__btn a:first-child{
    background: var(--primary);
}

.hero-left .hero-left__btn a:last-child{
    background: var(--footer);
}
.hero-left .hero-left__btn a:first-child:hover{
    background: var(--light);
    color: var(--secondary);
    border: 1px solid;
}
.hero-left .hero-left__btn a:last-child:hover{
    background: var(--light);
    color: var(--secondary);
    border: 1px solid;
}
.hero-right img{
    width: 300px;
}
.contanier--style.contanier-hero{
    padding-top: 8rem;
    padding-bottom: 9rem;
    
}
/* -------hero-------- */
/* ----header style end----- */

/* -------prodact section-------- */
section{
    padding: 4rem 0;
}
section.top-products{
    background: var(--light);
}
.contanier__heading{
    font-family: 'Raleway-Bold';
    position: relative;
    text-align: center;
    margin-bottom: 4rem;
}
.contanier__heading:after{
    content: '';
    display: block;
    width: 100%;
    height: 30px;
    position: absolute;
    background-image: url(../icons/hr.svg);
    background-position: center;
    background-repeat: no-repeat;
    bottom: -30px;
}

/* -------card-------- */
section.top-products .container-slaider_food .food-card{
    background: var(--heaven);
    padding: 1.5rem 0;
    border-radius: 5px;
}
section.top-products .container-slaider_food .food-card .food-card_img img{
    width: 60%;
    height: 150px;
    object-fit: contain;
    padding-bottom: .5rem;
}
.food-card_style{
    display: flex;
    align-items: center;
    justify-content: center;
}
hr{
    border: 1px solid var(--light);
    opacity: 0.8;
    margin: 1rem 0;
}
.text-center{
    text-align: center;
}
.stars{
    display: flex;
    justify-content: center;
    align-items: center;
}
.stars img{
    margin-right: 5px;
}
section.top-products .container-slaider_food .food-card .price{
    font-family: 'Raleway-Medium';
    color: var(--danger);
    margin: 10px 0;
}
section.top-products .container-slaider_food .food-card button{
    font-family: 'Raleway-Medium';
    color: var(--secondary);
    background: var(--heaven);
    border: 2px solid var(--primary);
    display: flex;
    align-items: center;
    width: 70%;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .3s ease;
    outline: 0;
}
section.top-products .container-slaider_food .food-card button:hover{
    color: var(--pure);
    background: var(--primary);
}
.container-slaider_food .food-card button img{
    height: 32px;
    padding: .55rem;
    margin-right: 1rem;
    background: var(--primary);
}
.card_btn{
    display: flex;
    justify-content: center;
}
 
.top-products .slider-btn{
    width: 30px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--primary);
    cursor: pointer;
}
.slick-slide{
    margin: 0 15px;
}
.slick-list{
    margin: 0 -15px;
}
.top-products .container-slaider{
    position: relative;
}
.top-products .prev-btn{
    position: absolute;
    top: 46%;
    left: -2.8rem;
    z-index: 1;
}
.top-products .next-btn{
    position: absolute;
    top: 46%;
    right: -2.8rem;
    z-index: 1;
}
.top-products .viev-btn{
    background: var(--footer);
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    color: var(--light);
    border-radius: 5px;
}
.top-products .viev-btn:hover{
    background: var(--light);
    color: var(--secondary);
    border: 1px solid;
}
.magic-shado_sm{
    position: relative;
    background: var(--pure);
    border: 0;
}
.magic-shado_sm::after{
    content: '';
    display: block;
    width: 100%;
    height: 65px;
    position: absolute;
    background-image: url(../icons/shadow-sm.svg);
    background-repeat: no-repeat;
    background-position: center;
    bottom: -25px;
    z-index: -1;
    margin-bottom: 5px;
}
.slick-track{
    padding: 1rem 0;
}
/* -------card-------- */


/* -------prodact section-------- */